/* Adjust margin for event section */
.evento {
    margin: 50px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.evento figure{
    width: 100%;
    height: 100%;
}

.evento figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.evento h1{
    margin-bottom: 20px;
}

.evento p{
    margin-bottom: 5px;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.event-title {
    font-size: 32px;
    font-weight: bold;
}

.event-categories{
    margin-bottom: 20px;
}

.event-categories a {
    color: #6c63ff;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.event-organizer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.event-organizer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reminder-button,
.price-button {
    background-color: #f0f0f5;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 15px;
}

.price-info {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    text-align: center;
}

.price-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.date-location {
    display: flex;
    justify-content: space-between;
}

.info-box {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    width: 48%;
    text-align: center;
}

.info-box i {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-extra-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.extra-box {
    width: 30%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    text-align: center;
}

.extra-box i {
    font-size: 24px;
    margin-bottom: 10px;
}

.date-location,
.map-embed,
.event-description{
    margin: 10px 0;
}